---
import Layout from '../../layouts/Layout.astro';
import CartProductCard from '../../components/CartProductCard.jsx';
import { format } from 'date-fns';

const response = await fetch(`http://localhost:8080/api/orders/${Astro.params.id}`);
const order = await response.json();
---

<Layout>
	<h1 class='text-center'>Order on {format(new Date(order.createdAt), 'dd.MM.yyyy HH:mm')}</h1>
      <div class='m-4 text-center xs:text-start'>
        <p>Recipient name: {order.recipientInfo.firstName} {order.recipientInfo.lastName}</p>
        <p>Delivery address: {order.recipientInfo.address}</p>
        <p>Total price: {order.totalPrice}€</p>
      </div>
      <h2 class='m-4 text-center xs:text-start'>Products</h2>
      <div class='xs:grid sm:block xs:grid-cols-2'>
        {
          order.products.map(productObject =>
            <div key={productObject.product.id} class='mx-2'>
              <CartProductCard product={productObject.product} quantity={productObject.quantity} noButtons />
            </div>
          )
        }
      </div>
</Layout>